html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "arconregular";
  font-style: normal;
  font-weight: normal;
  src: url("arcon-regular-webfont.woff2") format("woff2"), url("arcon-regular-webfont.woff") format("woff"); }
body {
  font-family: "arconregular", serif;
  font-size: 16px;
  color: #232323;
  font-weight: 400;
  text-align: center; }

h2 {
  font-size: 2.75rem;
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 400; }

section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  section:last-child {
    margin-right: 0; }
  @media screen and (max-width: 800px) {
    section {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 74.10533%; }
      section:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 800px) {
    section {
      margin-left: 12.94733%; } }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.ask-me {
  margin-top: 8rem; }
  @media screen and (max-width: 500px) {
    .ask-me {
      margin-top: 4rem; } }

.seed {
  display: inline; }

.seed input {
  display: inline;
  font-family: "arconregular", serif;
  font-size: 2.75rem;
  color: #232323;
  background-color: transparent;
  border: solid 1px #232323;
  border-bottom: solid 3px #232323;
  border-left: solid 3px #232323;
  width: 19.25rem;
  outline: 0;
  padding: 0.25rem 1rem;
  margin-left: 0.25rem;
  font-weight: 400;
  text-transform: capitalize; }
  @media screen and (max-width: 800px) {
    .seed input {
      width: 100%; } }
  @media screen and (max-width: 500px) {
    .seed input {
      margin: 0; } }
  @media screen and (max-width: 500px) {
    .seed input {
      text-align: center; } }

.recommends {
  margin-top: 6rem;
  text-align: center;
  display: none; }

.return {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 5.5rem; }

.return a {
  color: #77d4e5; }

.return a:hover {
  opacity: 0.5; }

.miniwrapper {
  display: table;
  min-height: 2.75rem;
  margin: 0 auto; }

.another {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #bf1c4d;
  border-radius: 1rem;
  color: #FFF;
  margin-top: 2.75rem;
  cursor: pointer;
  border-bottom: 3px solid #7a1433;
  border-left: 2px solid #7a1433;
  border-right: 2px solid #7a1433; }

.another:hover {
  border-bottom: 2px solid #7a1433;
  border-left: 1px solid #7a1433;
  border-right: 1px solid #7a1433; }

.another:active {
  border: none; }

.errors {
  display: none;
  margin-top: 6rem; }

.error-text {
  color: #bf1c4d;
  font-size: 2rem;
  font-weight: 200; }

.moreinfo {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: #bf1c4d;
  color: #FFFFFF;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer; }

.moreinfo p {
  line-height: 2rem;
  padding: 0.05rem 0 0;
  margin: 0; }

.info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90%;
  background-color: #bf1c4d;
  color: #FFF;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 12rem 2rem 0; }
  @media screen and (max-width: 500px) {
    .info {
      padding-top: 6rem; } }

/*# sourceMappingURL=main.css.map */
