@import "bourbon/bourbon";
@import "neat/neat";
@import "neat/grid-settings";

@include font-face("arconregular", "arcon-regular-webfont", $file-formats: woff2 woff);

$arcon: "arconregular", serif;
$black: #232323;
$red: #bf1c4d;

body {
  font-family: $arcon;
  font-size: 16px;
  color: $black;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 2.75rem;
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: 400;
}

section {
  @include span-columns(8);
  @include shift(2);
}

.wrapper {
  @include outer-container;
}

.ask-me {
  margin-top: 8rem;
  position: relative;
}

.seed {
  display: inline;
}

.seed input {
  display: inline;
  font-family: $arcon;
  font-size: 2.75rem;
  color: $black;
  background-color: transparent;
  border: solid 1px $black;
  border-bottom: solid 3px $black;
  border-left: solid 3px $black;
  width: (2.75rem * 7);
  outline: 0;
  padding: 0.25rem 1rem;
  margin-left: .25rem;
  font-weight: 400;
  text-transform: capitalize;
}

.recommends {
  margin-top: 6rem;
  text-align: center;
  display: none;
}

.return {
  display: block;
}

.return a {
  color: #77d4e5;
}
.return a:hover {
  opacity: 0.5;
}

.miniwrapper {
  display: block;
  height: 2.75rem;
}

.another {
  display: inline-block;
  font-size: 1rem;
  padding: .5rem 1rem;
  background-color: $red;
  border-radius: 1rem;
  color: #FFF;
  margin-top: 2.75rem;
  cursor: pointer;
  border-bottom: 3px solid #7a1433;
  border-left: 2px solid #7a1433;
  border-right: 2px solid #7a1433;
}
.another:hover {
  border-bottom: 2px solid #7a1433;
  border-left: 1px solid #7a1433;
  border-right: 1px solid #7a1433;
}
.another:active {
  border: none;
}

.errors {
  display: none;
  margin-top: 6rem;
}

.error-text {
  color: $red;
  font-size: 2rem;
  font-weight: 200;
}

.moreinfo {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: $red;
  color: #FFFFFF;
  position: absolute;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}
.moreinfo p {
  line-height: 2rem;
  padding: 0;
  padding-top: 0.05rem;
  margin: 0;
}

.info {
  display: none;
  position: absolute;
  width: 90%;
  height: 90%;
  background-color: $red;
  color: #FFF;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 0 2rem;
  padding-top: 12rem;
}
